.main {
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 11fr;

  .produtos {
    margin: 3.125rem 0;
  
    .produtos__container {
      max-width: 72rem;
      width: 100%;
      margin: 0 auto;
      gap: 20px;
  
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  
  }
}

@media only screen and (max-width: 768px) {
  .main {
    display: flex !important;
    flex-direction: column !important;
    padding: 1.88rem;
    gap: 0;
  }

  .produtos {
    margin: 1rem 0;
  }
}

@media only screen and (min-width: 425px) and (max-width: 500px) {
  .produtos__container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
  .produtos__container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media only screen and (max-width: 375px) {
  .produtos__container {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1175px) {
  .app {
    padding: 0 3.125rem;
  }
}